@import "colour";

body, html {
  font-family: 'BariolRegular', Helvetica, sans-serif;
  color: $sub-subtle;
  background: $background;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: $subtle;
}

@import "layout";
@import "text";
@import "image";
@import "item";
@import "header";
@import "footer";
